
    @model Tuple<List<DanceSchool_10._05_ASP.NET_MVC.Models.Dancer>
                    , DanceSchool_10._05_ASP.NET_MVC.Models.Group, DanceSchool_10._05_ASP.NET_MVC.Models.DanceStyle, DanceSchool_10._05_ASP.NET_MVC.Models.Dancer>

    @{
        ViewData["Title"] = "Display Groups";
        Layout = "~/Views/Shared/temp.cshtml";
    }

    <!DOCTYPE html>
    <html lang="en">
    <body>
        <section class="ftco-section">
            <div class="container-fluid">
                <div class="row justify-content-center mb-5">
                    <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
                        <h2 class="mb-1">Our Team</h2>
                        <h3 class="subheading">Dancers</h3>
                    </div>

                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Dancer Name
                            </th>
                            <th>
                                Dancer Surname
                            </th>

                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model.Item1)
                        {
                            <tr>

                                <th>
                                    @Html.DisplayFor(modelitem => item.Name)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelitem => item.Surname)
                                </th>



                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row justify-content-center mb-5">
                    <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
                        <section>
                            <h2 class="mb-1">Teacher</h2>

                            <h3 class="subheading">
                                @Html.DisplayFor(Model => Model.Item4.Name)
                                @Html.DisplayFor(Model => Model.Item4.Surname)
                            </h3>
                        </section>
                        <h2></h2>
                        <section>
                            <h2 class="mb-1">Dance Style</h2>
                            <h3 class="subheading"> @Html.DisplayFor(Model => Model.Item3.DancestyleName)</h3>
                            </section>
                    </div>

                </div>
        </section>

    </body>
</html>