@model IEnumerable<DanceSchool_10._05_ASP.NET_MVC.Models.Dancer>

@{
    ViewData["Title"] = "Dancers";

    Layout = "~/Views/Shared/temp.cshtml";
}
    <body data-aos-easing="slide" data-aos-duration="800" data-aos-delay="0">

        <section class="hero-wrap js-fullheight" style="background-image: url(&quot;images/my1.jpg&quot;); height: 969px;">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" style="height: 969px;">
                    <div class="col-md-8 ftco-animate fadeInUp ftco-animated">
                        <h1 class="typewrite mb-3" data-period="4000" data-type="[ &quot;Our dancers are incrediblet&quot;]"><span class="wrap"></span></h1>
                        <h2 class="mb-5">Be one of them</h2>

                    </div>
                </div>
            </div>
        </section>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-3">
                    <div class="col-md-12 heading-section ftco-animate text-center fadeInUp ftco-animated">
                        <h3 class="subheading">Dancers</h3>
                        <h2 class="mb-1">Check them out</h2>
                    </div>
                </div>
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <p>
                    <a asp-action="Search">Search for an dancer</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Surname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Function.FunctionName)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>

                                <th>
                                    @Html.DisplayFor(modelItem => item.Function.FunctionName)
                                </th>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.DancerId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.DancerId">Details</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </section>
    </body>